about-time==4.2.1
alive-progress==3.1.4
feather-format==0.4.1
grapheme==0.6.0
mysql-connector-python==8.1.0
numpy==1.25.2
pandas==2.1.0
protobuf==4.21.12
pyarrow==13.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
random-address==1.1.1
six==1.16.0
tzdata==2023.3
